* { 
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*SECTION ONE*/

.sectionOne {
    background-color: rgba(236, 7, 7, 0.788);
    color: black;
    padding: 0px 48px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    display: flex;
    justify-content: space-between;
}


.logo {
    max-width: 40px;
    height: auto;
    padding-top: 8px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
    padding: 0px;
    margin-top: 8px;
}

li {
    font-size: 18px;
}

.headerOne {
    font-weight: 900;
    font-size: 36px;
}

.mainContent {
    display: flex;
    justify-content: space-around;
    gap: 100px;
    align-items: flex-end;
    margin: 30px 0 30px 0;
}

button {
    background-color: red;
    color: white;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
  background-color: darkred;
}

.libertadoresPhoto {
    display: flex;
    justify-content: end;
    max-width: 350px;
    height: auto;
}

.rightSide {
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;
}

.leftSide {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 0px;
    margin: 0px;
}

.leftSide h1,
.leftSide p {
  margin: 4px;
}

button {
    align-self: flex-start;
}

/*SECTION TWO*/

.sectionTwo {
    background-color: white;
    color: black;
    padding: 0px 48px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.headerTwo {
    font-weight: 900;
    font-size: 28px;
    text-align: center;
    margin-top: 12px;
}

.mainContentTwo{
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
}

.trophyItem{
    display: flex;
    flex-direction: column;
    max-width: 150px;
    text-align: center;
    gap: 8px;
}

.borderBox {
    display: flex;
    border: 2px solid black;
    border-radius: 10%;
    width: 150px;
    height: 150px;
}

/* SECTION THREE */

.sectionThree {
    background-color: #E5E7EB;
    padding: 0px 48px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mainContentThree {
    padding: 24px;
    margin: 24px;
}

.inspiringQuote {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-style: italic;
    color: #1F2937;
}

.quoteCredit {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: black;
    font-weight: 700;
    gap: 6px;
}

.zicoPhoto {
    max-width: 70px;
    height: auto;
}

/*SECTION FOUR*/

.sectionFour {
    background-color: white;
    padding: 0px 48px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mainContentFour {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(236, 7, 7, 0.788);
    padding: 24px;
    margin: 48px;
    border-radius: 10px;
    gap: 96px;
}

.member {
    display: flex;
    flex-direction: column;
}

.memberButton {
    display: flex;
    justify-content: flex-end;
}

/*SECTION FIVE*/
.sectionFive {
    background-color: rgba(236, 7, 7, 0.788);
    color: black;
    padding: 0px 48px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}